<%= render "header" %>

<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <div class="page-heading">
        <h1 class="page-heading-text">新規クイズ投稿</h1>
        <%= render partial: "form", local: {tweet: @tweet} %>
      </div>
    </div>
  </div>
</div>