*{
  box-sizing: border-box;
}

.header{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
}

.inner-header{
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.title{
  width: 60%;
  font-size: 40px;
  font-weight: bold;
}

.title-text{
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-lists{
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.button{
  list-style: none;
}

.left-btn{
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;
}

.right-btn{
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;
}

.main{
  width: 100%;
  height: 100vh;
  background-color: #f8f8f8f8;
  display: block;
}

.inner{
  display: flex;
}

.search-box{
  width: 700px;
  margin: 0px auto;
  padding-top: 10px;
}

.search-input{
  width: 400px;
  height: 40px;
  font-size: medium;
}

.search-btn{
  position: relative;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: rgb(0, 51, 0);
  background: greenyellow;
  border-radius: 20px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px green;
  font-size: medium;
}

.new-post{
  width: 700px;
  margin: 10px auto;
}

.new-post-btn{
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  font-size: 20px;
  color: #FFF;
  background: rgb(99, 40, 236);
  border-radius: 10px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px rgb(83, 29, 145);
}

.pickup-label{
  width: 700px;
  margin: 0 auto 10px;
  color: purple;
}

.random-question{
  width: 700px;
  border:lightpink 5px ridge;
  overflow: auto;
  margin: 10px auto;
  padding: 10px;
}

.new-post-label{
  width: 700px;
  margin: 30px auto 10px;
}

.question-wrap{
  width: 700px;
  background-color: white;
  overflow: auto;
  border: black 1px solid;
  margin: 10px auto;
  padding: 10px;
}

.user{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-box{
  width: 100%;
  height: 20%;
  margin-top: 10px;
  padding: 0 10px;
  border:#666 1px solid;
  display: flex;
}

.question-initial{
  width: 5%;
  padding: 10px 0;
  color: darkred;
  font-weight: bold;

}

.question-text{
  width: 95%;
  padding: 10px 0;
}