.registration-main{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #F8F8F8;
  display: flex;
  justify-content: center;
}

.form-header-text{
  text-align: center;
}

.form-wrap{
  width: 400px;
  margin: 0 auto;
}

.input-default{
  width: 100%;
}

.register-btn,.login-btn{
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.form__wrapper{
  width: 700px;
  margin: 0 auto;
}

.page-heading-text{
  text-align: center;
}

.field{
  width: 600px;
  margin: 10px auto;
}

.form__string{
  width: 50%;
}

.form__text{
  width: 100%;
  height: 6em;
}

.actions{
  width: 100px;
  margin: 0 auto;
}